<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>AccessDenied page</title>
	<link type="text/css" th:href="@{/static/css/app.css}" rel="stylesheet" media="screen"/>
	<link type="text/css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<div class="generic-container">
		<div class="authbar">
			<span>Dear <strong th:text="${loggedinuser}"></strong>, You are not authorized to access this page.</span> <span class="floatRight"><a th:href="${'/logout'}">Logout</a></span>
		</div>
	</div>
</body>
</html>