<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en"/>
<body>
<div th:fragment="authbar" class="authbar">
    <span>Welcome, dear <strong th:text="${loggedinuser}"></strong></span>
    <span class="floatRight"><a th:href="${'/logout'}">Logout</a></span>
</div>
</body>
</html>