<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Task Form</title>
    <link type="text/css" th:href="@{/static/css/app.css}" rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
    <script src="http://cdn.jsdelivr.net/webjars/momentjs/2.18.1/moment.js"
            th:src="@{/webjars/momentjs/2.18.1/moment.js}"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <link href="http://cdn.jsdelivr.net/webjars/Eonasdan-bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css"
          th:href="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.43/css/bootstrap-datetimepicker.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/Eonasdan-bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.js"
            th:src="@{/webjars/Eonasdan-bootstrap-datetimepicker/4.17.43/js/bootstrap-datetimepicker.js}"></script>
</head>
<body>
<div class="generic-container">
    <th:block th:include="authheader :: authbar"></th:block>
    <div class="well lead">Task Form</div>
    <form method="POST" action="#" th:action="@{/tasks/save}" th:object="${task}" class="form-horizontal">
        <input type="hidden" th:field="*{id}" id="id"/>
        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="state">State</label>
                <div class="col-md-7">
                    <select id="state" th:field="*{state}" class="form-control input-sm">
                        <option th:each="state : ${states}" th:value="${state.id}"
                                th:text="${state.state}"></option>
                    </select>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('state')}" th:errors="*{taskState}"
                              class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="title">Title</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{title}" id="title" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="priority">Priority</label>
                <div class="col-md-7">
                    <select id="priority" th:field="*{priority}" class="form-control input-sm">
                        <option th:each="priority : ${priorities}" th:value="${priority.id}"
                                th:text="${priority.priority}"></option>
                    </select>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('priority')}" th:errors="*{priority}"
                              class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="dueDate">Due Date</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{dueDate}" id="dueDate" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}" class="help-inline"></span>
                    </div>
                </div>
                <script th:inline="javascript">
                    $(function () {
                        $('#dueDate').datetimepicker({
                            format: 'DD.MM.YYYY HH:mm',
                            minDate: moment()
                        });
                    });
                </script>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="description">Description</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{description}" id="description" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-actions floatRight">
                <th:block th:switch="${edit}">
                    <th:block th:case="${true}">
                        <input type="submit" value="Update" class="btn btn-primary btn-sm"/> or <a th:href="@{/tasks}">Cancel</a>
                    </th:block>
                    <th:block th:case="*">
                        <input type="submit" value="Register" class="btn btn-primary btn-sm"/> or <a
                            th:href="@{/tasks}">Cancel</a>
                    </th:block>
                </th:block>
            </div>
        </div>
    </form>
</div>
</body>
</html>