<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Registration Form</title>
    <link type="text/css" th:href="@{/static/css/app.css}" rel="stylesheet" media="screen"/>
    <link type="text/css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="generic-container">
    <th:block th:include="authheader :: authbar"></th:block>
    <div class="well lead">User Registration Form</div>
    <form method="POST" action="#" th:action="@{/users/save}" th:object="${user}" class="form-horizontal">
        <input type="hidden" th:field="*{id}" id="id"/>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="firstName">First Name</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{firstName}" id="firstName" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="lastName">Last Name</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{lastName}" id="lastName" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12" th:classappend="${#fields.hasErrors('username')} ?: 'has-error'">
                <label class="col-md-3 control-lable" for="username">Username</label>
                <div class="col-md-7">
                    <th:block th:switch="${edit}">
                        <th:block th:case="${true}">
                            <input type="text" th:field="*{username}" id="username" class="form-control input-sm"
                                   readonly="readonly"/>
                        </th:block>
                        <th:block th:case="*">
                            <input type="text" th:field="*{username}" id="username" class="form-control input-sm"/>
                            <div class="has-error">
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                      class="help-inline"></span>
                            </div>
                        </th:block>
                    </th:block>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="password">Password</label>
                <div class="col-md-7">
                    <input type="password" th:field="*{password}" id="password" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="email">Email</label>
                <div class="col-md-7">
                    <input type="text" th:field="*{email}" id="email" class="form-control input-sm"/>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-12">
                <label class="col-md-3 control-lable" for="userProfiles">Roles</label>
                <div class="col-md-7">
                    <select id="userProfiles" th:field="*{userProfiles}" multiple="true" class="form-control input-sm">
                        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.type}"></option>
                    </select>
                    <div class="has-error">
                        <span th:if="${#fields.hasErrors('userProfiles')}" th:errors="*{userProfiles}" class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-actions floatRight">
                <th:block th:switch="${edit}">
                    <th:block th:case="${true}">
                        <input type="submit" value="Update" class="btn btn-primary btn-sm"/> or <a th:href="@{/users}">Cancel</a>
                    </th:block>
                    <th:block th:case="*">
                        <input type="submit" value="Register" class="btn btn-primary btn-sm"/> or <a
                            th:href="@{/users}">Cancel</a>
                    </th:block>
                </th:block>
            </div>
        </div>
    </form>
</div>
</body>
</html>