<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Registration Confirmation Page</title>
	<link type="text/css" th:href="@{/static/css/app.css}" rel="stylesheet" media="screen"/>
	<link type="text/css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
	<div class="generic-container">
		<th:block th:include="authheader :: authbar"></th:block>
		
		<div class="alert alert-success lead">
			<th:block th:text="${success}"/>
		</div>
		
		<span class="well floatRight">
			Go to <a th:href="@{/users}">Users List</a>
		</span>
	</div>
</body>

</html>