<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Tasks List</title>
    <link type="text/css" th:href="@{/static/css/app.css}" rel="stylesheet" media="screen"/>
    <link type="text/css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="generic-container">
    <th:block th:include="authheader :: authbar"></th:block>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Tasks </span></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Title</th>
                <th>State</th>
                <th>Due Date</th>
                <th>Created Date</th>
                <th width="100"></th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td th:text="${task.title}"></td>
                <td th:text="${task.state.state}"></td>
                <td th:text="${task.dueDate}"></td>
                <td th:text="${task.createdDate}"></td>
                <td>
                    <a th:href="${'/tasks/edit/' + task.id}"
                       class="btn btn-success custom-width">edit</a>
                </td>
                <td>
                    <a th:href="${'/tasks/delete/' + task.id}"
                       class="btn btn-danger custom-width">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="well">
        <a th:href="${'/tasks/add'}">Add New Task</a>
    </div>
</div>
</body>
</html>