<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Users List</title>
    <link type="text/css" th:href="@{/static/css/app.css}" rel="stylesheet" media="screen"/>
    <link type="text/css" th:href="@{/static/css/bootstrap.css}" rel="stylesheet" media="screen"/>
</head>
<body>
<div class="generic-container">
    <th:block th:include="authheader :: authbar"></th:block>
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading"><span class="lead">List of Users </span></div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Username</th>
                <sec:authorize access="hasRole('ADMIN') or hasRole('DBA')">
                    <th width="100"></th>
                </sec:authorize>
                <sec:authorize access="hasRole('ADMIN')">
                    <th width="100"></th>
                </sec:authorize>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.firstName}"></td>
                <td th:text="${user.lastName}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.username}"></td>

                <td>
                    <a sec:authorize="hasRole('ADMIN') or hasRole('DBA')" th:href="${'/users/edit/' + user.username}"
                       class="btn btn-success custom-width">edit</a>
                </td>
                <td>
                    <a sec:authorize="hasRole('ADMIN')" th:href="${'/users/delete/' + user.username}"
                       class="btn btn-danger custom-width">delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div sec:authorize="hasRole('ADMIN')" class="well">
        <a th:href="${'/users/add'}">Add New User</a>
    </div>
</div>
</body>
</html>