html {
    background-color: #2F2F2F;
}

body {
    height: 100%;
    background-color: rgb(245, 245, 245);
}

#mainWrapper {
    height: 100%;
    background-color: #2F2F2F;
}

.floatRight {
    float: right;
    margin-right: 18px;
}

.has-error {
    color: red;
}

.generic-container {
    margin-top: 20px;
    left: 10%;
    position: absolute;
    width: 80%;
    padding: 20px;
    background-color: #EAE7E7;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 30px black;
}

.custom-width {
    width: 80px !important;
}

body, #mainWrapper, .form-control {
    font-size: 12px !important;
}

#mainWrapper {
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.login-container {
    margin-top: 100px;
    background-color: floralwhite;
    width: 40%;
    left: 30%;
    position: absolute;
}

.login-card {
    width: 80%;
    margin: auto;
}

.login-form {
    padding: 10%;
}

.authbar {
    margin-bottom: 15px;
}